workflow_jp.json
{
  "name": "update cloudflare dns",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "be3896e9-3ff9-45ac-b4ba-d205a882f20d",
      "name": "毎時実行",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1120,
        112
      ]
    },
    {
      "parameters": {
        "url": "http://ip.zhuikan.com",
        "options": {}
      },
      "id": "53c50520-372b-4e64-b44c-d6f7e4d04d2c",
      "name": "現在のIP取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -896,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://api.cloudflare.com/client/v4/zones/YOUR_ZONE_ID/dns_records?name=YOUR_DOMAIN_NAME&type=A",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_CLOUDFLARE_API_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a2aa97df-ec2d-4264-b244-16abd7de6cba",
      "name": "DNSレコード照会",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -688,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// 現在のIPデータを取得\nlet currentIP = '';\nconst ipData = $('現在のIP取得').first();\nif (ipData && ipData.json && ipData.json.data) {\n    currentIP = String(ipData.json.data).trim();\n} else {\n    throw new Error('現在のIPデータを取得できません');\n}\n\n// DNSレコードデータを取得\nconst currentInput = $input.first().json;\nlet dnsIP = '';\nlet recordId = '';\nlet recordName = '';\n\nif (currentInput && currentInput.success && currentInput.result && currentInput.result.length > 0) {\n    const record = currentInput.result[0];\n    dnsIP = String(record.content).trim();\n    recordId = record.id;\n    recordName = record.name;\n} else {\n    throw new Error('DNSレコードを取得できません: ' + JSON.stringify(currentInput));\n}\n\n// IP形式を検証\nconst ipRegex = /^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$/;\nif (!ipRegex.test(currentIP)) {\n    throw new Error(`現在のIP形式が正しくありません: \\\"${currentIP}\\\"`);\n}\n\n// IPの更新が必要かどうかを比較\nlet ipChanged = false;\nlet message = '';\n\n// DNSレコードの特殊な場合を処理\nif (dnsIP.includes('*') || dnsIP.length < 7 || !ipRegex.test(dnsIP)) {\n    ipChanged = true;\n    message = `DNSレコードに異常があります(${dnsIP})、次に更新が必要: ${currentIP}`;\n} else {\n    ipChanged = currentIP !== dnsIP;\n    message = ipChanged ? `IP更新が必要: ${dnsIP} -> ${currentIP}` : `IP同じ、更新不要: ${currentIP}`;\n}\n\n// 結果を返す（単一出力）\nreturn {\n    currentIP: currentIP,\n    dnsIP: dnsIP,\n    ipChanged: ipChanged,\n    shouldUpdate: ipChanged,\n    message: message,\n    timestamp: new Date().toISOString(),\n    recordId: recordId,\n    recordName: recordName,\n    summary: ipChanged ? 'DNSレコードの更新が必要' : 'DNSレコードは最新です'\n};"
      },
      "id": "127a1492-a399-4048-b6a7-b6ced8d70a39",
      "name": "IP差分比較",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.shouldUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal",
                "singleValue": true
              }
            },
            {
              "id": "028cb230-830c-42cc-9d46-0341a33ab59c",
              "leftValue": "={{ $json.shouldUpdate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b7c2e47e-5fc2-4106-9dca-21ee79cf58a2",
      "name": "更新必要性判断",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        112
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.cloudflare.com/client/v4/zones/YOUR_ZONE_ID/dns_records/{{ $('IP差分比較').first().json.recordId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_CLOUDFLARE_API_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "A"
            },
            {
              "name": "name",
              "value": "YOUR_DOMAIN_NAME"
            },
            {
              "name": "content",
              "value": "={{ $('IP差分比較').first().json.currentIP }}"
            },
            {
              "name": "ttl",
              "value": 300
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "befdc688-7d5a-40dc-8864-4053ecc9fb33",
      "name": "DNSレコード更新",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "bb644c98-6a21-4e6e-a102-b8f02e6c134d",
      "name": "更新不要",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// 更新結果を確認\nconst updateResult = $input.first();\nconst compareResult = $('IP差分比較').first().json;\n\n// エラーを確認\nif (updateResult.json && updateResult.json.success === false) {\n    const errors = updateResult.json.errors || [];\n    const errorMsg = errors.length > 0 ? errors[0].message : '不明なエラー';\n    \n    // 「レコードが既に存在する」エラーかどうかを確認（これは成功とみなす）\n    if (errorMsg.includes('An identical record already exists')) {\n        return {\n            success: true,\n            message: `DNSレコードは既に正しいIP(${compareResult.currentIP})です、更新不要`,\n            currentIP: compareResult.currentIP,\n            type: 'already_correct'\n        };\n    } else {\n        return {\n            success: false,\n            message: `DNS更新失敗: ${errorMsg}`,\n            error: errorMsg\n        };\n    }\n} else {\n    // 更新成功\n    return {\n        success: true,\n        message: `DNSレコードを次に更新しました: ${compareResult.currentIP}`,\n        currentIP: compareResult.currentIP,\n        type: 'updated'\n    };\n}"
      },
      "id": "6a0bed6b-0d02-4cac-98b0-356b21cf0238",
      "name": "更新結果処理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "毎時実行": {
      "main": [
        [
          {
            "node": "現在のIP取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "現在のIP取得": {
      "main": [
        [
          {
            "node": "DNSレコード照会",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DNSレコード照会": {
      "main": [
        [
          {
            "node": "IP差分比較",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP差分比較": {
      "main": [
        [
          {
            "node": "更新必要性判断",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新必要性判断": {
      "main": [
        [
          {
            "node": "DNSレコード更新",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "更新不要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DNSレコード更新": {
      "main": [
        [
          {
            "node": "更新結果処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "875561ff-9722-4858-90c3-00de68be3dd9",
  "meta": {
    "instanceId": "bb7904cac79d2f2ec80ecd45de5ea8d43a56774257ca4632322462a9930cb2ac"
  },
  "id": "z976ljIbT1y9MY5T",
  "tags": []
}
