workflow_en.json
{
  "name": "update cloudflare dns",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "be3896e9-3ff9-45ac-b4ba-d205a882f20d",
      "name": "Hourly Execution",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1120,
        112
      ]
    },
    {
      "parameters": {
        "url": "http://ip.zhuikan.com",
        "options": {}
      },
      "id": "53c50520-372b-4e64-b44c-d6f7e4d04d2c",
      "name": "Get Current IP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -896,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://api.cloudflare.com/client/v4/zones/YOUR_ZONE_ID/dns_records?name=YOUR_DOMAIN_NAME&type=A",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_CLOUDFLARE_API_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a2aa97df-ec2d-4264-b244-16abd7de6cba",
      "name": "Query DNS Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -688,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get current IP data\nlet currentIP = '';\nconst ipData = $('Get Current IP').first();\nif (ipData && ipData.json && ipData.json.data) {\n    currentIP = String(ipData.json.data).trim();\n} else {\n    throw new Error('Unable to get current IP data');\n}\n\n// Get DNS record data\nconst currentInput = $input.first().json;\nlet dnsIP = '';\nlet recordId = '';\nlet recordName = '';\n\nif (currentInput && currentInput.success && currentInput.result && currentInput.result.length > 0) {\n    const record = currentInput.result[0];\n    dnsIP = String(record.content).trim();\n    recordId = record.id;\n    recordName = record.name;\n} else {\n    throw new Error('Unable to get DNS record: ' + JSON.stringify(currentInput));\n}\n\n// Validate IP format\nconst ipRegex = /^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$/;\nif (!ipRegex.test(currentIP)) {\n    throw new Error(`Current IP format is incorrect: \\\"${currentIP}\\\"`);\n}\n\n// Compare whether IP needs updating\nlet ipChanged = false;\nlet message = '';\n\n// Handle possible special cases in DNS record\nif (dnsIP.includes('*') || dnsIP.length < 7 || !ipRegex.test(dnsIP)) {\n    ipChanged = true;\n    message = `DNS record abnormal(${dnsIP}), needs update to: ${currentIP}`;\n} else {\n    ipChanged = currentIP !== dnsIP;\n    message = ipChanged ? `IP needs update: ${dnsIP} -> ${currentIP}` : `IP same, no update needed: ${currentIP}`;\n}\n\n// Return result (single output)\nreturn {\n    currentIP: currentIP,\n    dnsIP: dnsIP,\n    ipChanged: ipChanged,\n    shouldUpdate: ipChanged,\n    message: message,\n    timestamp: new Date().toISOString(),\n    recordId: recordId,\n    recordName: recordName,\n    summary: ipChanged ? 'DNS record needs update' : 'DNS record is up to date'\n};"
      },
      "id": "127a1492-a399-4048-b6a7-b6ced8d70a39",
      "name": "Compare IP Difference",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.shouldUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal",
                "singleValue": true
              }
            },
            {
              "id": "028cb230-830c-42cc-9d46-0341a33ab59c",
              "leftValue": "={{ $json.shouldUpdate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b7c2e47e-5fc2-4106-9dca-21ee79cf58a2",
      "name": "Check If Update Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        112
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.cloudflare.com/client/v4/zones/YOUR_ZONE_ID/dns_records/{{ $('Compare IP Difference').first().json.recordId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_CLOUDFLARE_API_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "A"
            },
            {
              "name": "name",
              "value": "YOUR_DOMAIN_NAME"
            },
            {
              "name": "content",
              "value": "={{ $('Compare IP Difference').first().json.currentIP }}"
            },
            {
              "name": "ttl",
              "value": 300
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "befdc688-7d5a-40dc-8864-4053ecc9fb33",
      "name": "Update DNS Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "bb644c98-6a21-4e6e-a102-b8f02e6c134d",
      "name": "No Update Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check update result\nconst updateResult = $input.first();\nconst compareResult = $('Compare IP Difference').first().json;\n\n// Check for errors\nif (updateResult.json && updateResult.json.success === false) {\n    const errors = updateResult.json.errors || [];\n    const errorMsg = errors.length > 0 ? errors[0].message : 'Unknown error';\n    \n    // Check if it's a \"record already exists\" error (consider this as success)\n    if (errorMsg.includes('An identical record already exists')) {\n        return {\n            success: true,\n            message: `DNS record already has correct IP(${compareResult.currentIP}), no update needed`,\n            currentIP: compareResult.currentIP,\n            type: 'already_correct'\n        };\n    } else {\n        return {\n            success: false,\n            message: `DNS update failed: ${errorMsg}`,\n            error: errorMsg\n        };\n    }\n} else {\n    // Update successful\n    return {\n        success: true,\n        message: `DNS record updated to: ${compareResult.currentIP}`,\n        currentIP: compareResult.currentIP,\n        type: 'updated'\n    };\n}"
      },
      "id": "6a0bed6b-0d02-4cac-98b0-356b21cf0238",
      "name": "Process Update Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Hourly Execution": {
      "main": [
        [
          {
            "node": "Get Current IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current IP": {
      "main": [
        [
          {
            "node": "Query DNS Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query DNS Record": {
      "main": [
        [
          {
            "node": "Compare IP Difference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare IP Difference": {
      "main": [
        [
          {
            "node": "Check If Update Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Update Needed": {
      "main": [
        [
          {
            "node": "Update DNS Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Update Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DNS Record": {
      "main": [
        [
          {
            "node": "Process Update Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "875561ff-9722-4858-90c3-00de68be3dd9",
  "meta": {
    "instanceId": "bb7904cac79d2f2ec80ecd45de5ea8d43a56774257ca4632322462a9930cb2ac"
  },
  "id": "z976ljIbT1y9MY5T",
  "tags": []
}
